
html {
    height: 100%;
    width: 100%;
    background: url(map.png) no-repeat   ;
    background-size: 100% 100%;
    
  }
 
#demo{
    z-index: 1;
}

#distance-hint{
    text-align: center;
    
}